:root {
  --pink: #EAC3CB;
  --green: #104547;
}

@font-face {
  font-family: 'Display';
  src: url('../resources/fonts/Circular.woff') format('woff');
}

@font-face {
  font-family: 'Article';
  src: url('../resources/fonts/MrsEavesRoman.woff') format('woff');
}
body {
  background: linear-gradient(to right, whitesmoke 50%,  var(--green)50%);

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    transition: .4s ease-in-out;
}

.mystery-box {
  position: absolute;
  height: 10vw;
  width: 10vw;
  background-color: var(--pink);
  mix-blend-mode: exclusion;
}

.right-mystery-box {
  z-index: 999;
  position: absolute;
  height: 10vw;
  width: 10vw;
  right: 5%;
  top: 60vh;
  background-color: var(--pink);
}

.path {
  fill: whitesmoke;
  stroke: var(--green);
  stroke-width: 4;
  stroke-miterlimit: 10;
}

svg {
  margin-top: 10px;
}

.logo {
  display: flex;
  width: 100vw;
  position: fixed;
  display: flex;
  font-family: Display;
  justify-content: center;
}

.logo h2 {
  background-color: var(--pink);
  color: var(--green);
  margin-top: 25px;
  font-size: 24pt;
  /* mix-blend-mode: difference; */
  height: 100%;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
}

.gallery {
  position: fixed;
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: grid;
  height: 80vh;
  width: 80%;
  overflow: scroll;
  grid-template-columns: 100%;
  scroll-snap-type: y mandatory;
}

img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: 4vh;
}

p {
  grid-column: 2;
  display: block;
  font-family: Display;
  font-size: 16pt;
  text-align: justify;
}

.info-right p {
  color: whitesmoke;
transform: translateX(2.5vw);

}
.info-left p {
  color: var(--green);
/* transform: translateX(50%); */
}

.content-section {
    transition: 1.8s;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 50% 50%;
  filter: brightness(.5);

}

.gallery::-webkit-scrollbar {
  display: none;
}

.visible {
  opacity: 1;
  filter: brightness(1);
}
.header {
  color: whitesmoke;
  font-family: Display;
  font-size: 58pt;
}

.header-left {
  transform: translateX(90%);
  background-color: var(--green);
}

.header-right {
  transform: translateX(-10%);
  background-color: var(--pink);
}

.info {
  height: 80vh;
  display: flex;
  align-items: flex-end;
}

.info p {
  margin-bottom: 10vh;
}


.contact-info {
  font-size: 16pt;
  font-family: Article;
  color: var(--green);
  position: fixed;
  bottom: 3vh;
}

.booking-container {
  z-index: 999999;
  position: fixed;
  top: 45%;
    transition: .4;

}

.booking-button {
  color: var(--green);
  transform: rotate(-90deg);
}

.booking-button:hover {
  transform: rotate(-90deg) scale(1.1);
}

.booking-form {
  display: flex;
  opacity: 0;
  top: 10vh;
  left: 10vw;
  position: fixed;
  height: 0vh;
  width: 0vw;
}
.contact-info {
position: absolute;
width: 80%;
margin-left: 10%;
font-family: Article;
}
.show-form {
  top: 10vh;
  left: 10vw;
  height: 80vh;
  width: 40vw;
  background-color: var(--pink);
  opacity: .8;
    transition: .9;
    min-width: 500px;
}
input[type=text]{
      font-size: 14pt;
  opacity: 1 !important;
  border: none;
  outline: none;
  color: var(--green);

}
.input-field
{
width: 80%;
margin-left: 10%;
  transform: translateY(5vh);
  height: 10vh;
  text-align: center;
  background-color: transparent;
  background: transparent;
  outline: none;
}
.input-field:focus
{
background-color: var(--green);
color: whitesmoke;
}
:placeholder-shown
{
    background-color: transparent;
    background: transparent;
}
::placeholder,
{

    color: var(--green);
    background-color: transparent;
    background: transparent;
}
.about {
  width: 40%;
  justify-content: flex-end;
}
