@font-face {
  font-family: 'Display';
  src: url('../resources/fonts/Circular.woff') format('woff');
}

@font-face {
  font-family: 'Article';
  src: url('../resources/fonts/MrsEavesRoman.woff') format('woff');
}
@media screen and (max-width: 992px) {
  p, .header, .article {
  display: none !important;
  }
  .content-section {
    grid-template-columns: 100% !important;
    height: 80vh;
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .5s;
  background-color: white;
}

.logo {
  font-family: Display;
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
}

.gallery {
  margin-left: 10vw;
  display: grid;
  height: 80vh;
  width: 80%;
  overflow: scroll;
  grid-template-columns: 100%;
  scroll-snap-type: y mandatory;
}
img {
  display: block;
max-width: 90%;
max-height: 90%;
}
.header{
  color: black;
    font-family: Display;
    mix-blend-mode: difference;
    z-index: 100;
    font-size: 58pt;
}
p {
grid-column: 2;
  display: block;
  height: 80vh;
    font-family: Article;
    color: black;
    font-size: 24pt;
    padding: 4vh;
    text-align: justify;
}
.content-section {
  scroll-snap-align: start;
  display: grid;
    grid-template-columns: 50% 50%;
    filter: brightness(.5);

}
img:hover{

}
.gallery::-webkit-scrollbar {
  display: none;
}
.visible{
      filter: brightness(1);
}

.header-left {
  transform: translateX(90%);
}

.header-right {
  transform: translateX(-10%);
}
.article{
  background-color: black;
}
