@media screen and (max-width: 992px) {
  
  .container h2, .right-mystery-box {
    display: none !important;
  }
  
  .logo, .split-container h2{
    /* right: 20vw !important; */
    
  }
  

  .content-section {
    /* grid-template-rows: repeat(auto-fill, minmax(80vh, 10vh)); */
    /* grid-template-rows: 80vh 20vh; */
    grid-template-columns: 50% 50%;
    /* height: 80vh; */
  }

  img {
    max-height: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    /* grid-column: 1 / 2; */
  }

  
  
  .info-left p{
    color: var(--green) !important;
    /* color: var(--pink); */
  }
  
  .info-right p{
    /* position: absolute; */
    color: whitesmoke !important;
    /* grid-column: 1; */
  }
  
  .info{
    /* display: grid; */
  }
  
  
  .about{
    width: 100%;
    /* display: grid; */
    /* grid-column: 1 / 2; */
    /* position: absolute; */
  }
  
  .about{
    
    font-size: 10pt;
  }
  
  
}

