@media screen and (max-width: 992px) {
  p, .header, .article {
    display: none !important;
  }

  .content-section {
    grid-template-columns: 100% !important;
    height: 80vh;
  }

  img {
    max-width: 100% !important;
    margin: 0 !important;
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> a64517effc65f06bb06f2e27481a952d5f2470e6
