@media screen and (max-width: 992px) {
  p, .header, .article {
    display: none !important;
  }

  .content-section {
    grid-template-columns: 100% !important;
    height: 80vh;
  }

  img {
    max-width: 100% !important;
    margin: 0 !important;
  }
<<<<<<< HEAD
}

/* comment */
=======
>>>>>>> 7b9c4be0a5992e7ce9f276424d9e52d6fcd70341
